<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://i.postimg.cc/2jb4t5zJ/APLogo-20-20.png"
        style="color: #ffffff"
        width="130px"
      />
      <code>#YoProgramo</code>
    </a>
    <div class="nav justify-content-end" id="navbarTogglerDemo03">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="https://github.com/sudobarre"
            target="blank"
            ><i class="fa-brands fa-github"></i
          ></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="https://www.linkedin.com/in/fede-barrena-663494a2/"
            target="blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </li>
        <li *ngIf="!isLogged" class="nav-item">
          <a
            data-bs-toggle="modal"
            data-bs-target="#myModal"
            class="nav-link active"
            class="btn tooltips"
            data-placement="top"
            data-toggle="tooltip"
            data-original-title="Edit"
            ><i class="fa-solid fa-user"></i>
          </a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a
            (click)="handleClear()"
            (click)="logout()"
            class="nav-link active"
            class="btn tooltips"
            ><i class="fa-solid fa-arrow-right-from-bracket"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Login modal-->
<div class="modal fade bd-example-modal-lg" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border-radius: 20px">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email</label
            >
            <input
              formControlName="email"
              [ngClass]="{
                'is-invalid': Email?.errors && Email?.touched,
                'is-valid': !Email?.errors && Email?.touched
              }"
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="email"
              autocomplete="off"
              required
            />
            <div *ngIf="Email?.errors && Email?.touched">
              <p *ngIf="Email?.hasError('required')" class="text-danger">
                El email es requerido
              </p>
              <p *ngIf="Email?.hasError('email')" class="text-danger">
                El formato del email debe ser valido
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Contraseña</label
            >
            <input
              [ngClass]="{
                'is-invalid': Password?.errors && Password?.touched,
                'is-valid': !Password?.errors && Password?.touched
              }"
              formControlName="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="password"
              autocomplete="off"
              required
            />
            <div *ngIf="Password?.errors && Password?.touched">
              <p
                *ngIf="Password?.hasError('required')"
                style="color: black"
                class="text-danger"
              >
                El password es requerido
              </p>
            </div>
          </div>
          <button
            id="btnCerrar"
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
