<div class="wrapper">
    <div class="card text-center" style="color: white; margin-top: 100px;">
        <div class="card-body">
        <h5 class="card-title">Inicia Sesion</h5>
        <p class="card-text">Haz click en el boton de arriba a la derecha para registrarse o iniciar sesion, o inicia sesion con un usuario generico haciendo click en el boton de abajo.</p>
        <button type="submit" class="btn btn-primary"(click)="onLogin()">Inicia Sesion</button>
        </div>
        <div class="card-footer text-muted">Con usuario generico</div>
    </div>
</div>