h1 {
  color: white;
  font-style: oblique;
  text-align: center;
  margin-bottom: 50px;
}
.titles {
  color: white;
  font-style: oblique;
  text-align: center;
  margin-bottom: 24px;
}
hr {
  border: 1px solid rgb(184, 180, 180);
  width: 80%;
  margin-left: 10%;
}
.skill {
  max-width: 100%;
  margin: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.card {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.modal-header {
  background-color: #4b4b4b;
}
.modal-body {
  background-image: linear-gradient(to top, #3b3b3b, #89898a);
}
.modal-footer {
  border-top: 0px;
}
.btn {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.modal {
  color: aliceblue;
}
.spinner {
  margin: 0 auto;
  width: 3rem;
  height: 3rem;
  color: blanchedalmond;
}
