<div class="row">
  <div>
    <hr />
    <h1>Hard & Soft Skills</h1>
  </div>
</div>
<div class="text-center" *ngIf="isLoggedIn">
  <button type="button" class="btn btn-success" (click)="onOpenModal('add')">
    <a class="nav-link" style="color: #fff"
      >Agregar Skill <span class="sr-only">(current)</span></a
    >
  </button>
</div>
<div
  class="card"
  id="main-container"
  id="even"
  cdkDropList
  [cdkDropListData]="skills"
  cdkDropListConnectedTo="even"
  (cdkDropListDropped)="onDrop($event)"
  #educationList="cdkDropList"
>
  <div class="row skill">
    <div
      *ngFor="let skill of skills"
      cdkDrag
      [cdkDragData]="skill"
      cdkDragPreviewContainer="parent"
      class="text-center col-xs-8 col-sm-8 col-md-6 col-lg-3"
    >
      <div class="skillcircle" *ngIf="isLoggedIn">
        <a
          (click)="onOpenModal('edit', skill)"
          class="btn btn-primary tooltips"
          data-placement="top"
          data-toggle="tooltip"
          data-original-title="Edit"
          ><i class="fa fa-pencil"></i>
        </a>
        <a
          (click)="onOpenModal('delete', skill)"
          class="btn btn-secondary tooltips"
          data-placement="top"
          data-toggle="tooltip"
          data-original-title="Delete"
          ><i class="fa-solid fa-xmark"></i
        ></a>
      </div>
      <div class="card-body titles">
        <div class="card-title">
          {{ skill.nombre }}
          <circle-progress
            [percent]="skill.porcentaje"
            [radius]="100"
            [showUnits]="false"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showSubtitle]="true"
            [titleFontSize]="'25px'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="2"
            [title]="skill.nombre"
            [imageSrc]="skill.picSkill"
            [outerStrokeColor]="'#A6AAAD'"
            [innerStrokeColor]="'#505255'"
            [animation]="true"
            [animationDuration]="1000"
          ></circle-progress>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Skill Modal -->
<div
  class="modal fade"
  id="addSkillModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addSkillModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSkillModalLabel">Agregar Skill</h5>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddSkill(addForm)">
          <div class="form-group">
            <label for="nombre">Skill</label>
            <input
              type="text"
              ngModel
              name="nombre"
              class="form-control"
              id="nombre"
              placeholder="Title"
              required
            />
          </div>
          <div class="form-group">
            <label for="percent">Porcentaje</label>
            <input
              type="number"
              min="0"
              max="100"
              step="5"
              ngModel
              name="percent"
              class="form-control"
              id="percent"
              placeholder="porcentaje"
              required
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              id="add-skill-form"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              [disabled]="addForm.invalid"
              type="submit"
              class="btn btn-primary"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit skill modal -->
<div
  class="modal fade"
  id="editSkillModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="skillEditModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateSkillModalLabel">
          Editar Skill {{ editSkill?.nombre }}
        </h5>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="nombre">Titulo</label>
            <input
              type="text"
              ngModel="{{ editSkill?.nombre }}"
              name="nombre"
              class="form-control"
              id="nombre1"
              aria-describedby="emailHelp"
              placeholder="skill name"
            />
          </div>
          <input
            type="hidden"
            ngModel="{{ editSkill?.id }}"
            name="id"
            class="form-control"
            id="id1"
            placeholder=""
          />

          <div class="form-group">
            <label for="percent">Porcentaje</label>
            <input
              type="number"
              min="0"
              max="100"
              step="5"
              ngModel="{{ editSkill?.porcentaje }}"
              name="percent"
              class="form-control"
              id="percent1"
              placeholder="Porcentaje"
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              id="3"
              data-dismiss="modal"
              class="btn btn-secondary"
            >
              Cerrar
            </button>
            <button
              (click)="onUpdateSkill(editForm.value)"
              data-dismiss="modal"
              class="btn btn-primary"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete skill modal -->
<div
  class="modal fade"
  id="deleteSkillModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Borrar Skill</h5>
      </div>
      <div class="modal-body">
        <p style="color: rgb(255, 255, 255)">
          Está seguro que desea borrar
          {{ deleteSkill?.nombre }}?
        </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button
            (click)="onDeleteSkill(deleteSkill!.id)"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            Si
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no skills -->
<div
  *ngIf="skills?.length == 0 && isLoggedIn"
  class="col-lg-12 col-md-12 col-xl-12"
>
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No hay Skills!</h4>
    <p>No hay skills cargadas.</p>
  </div>

  <!-- Notification for no data -->
  <div
    *ngIf="skills?.length == 0 && !isLoggedIn"
    class="col-lg-12 col-md-12 col-xl-12 spinner"
  >
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
